a {
    color: chocolate;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

a:visited {color:coral;}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.top-menu {
    display: flex;
}

.top-menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}